In [ ]:
#conseil de jo : 
# mettez avant les importations les variables qui peuvent changer (en fonction des personnes)

#chemin_bd = r"C:/Users/jonat/Downloads/"
chemin_bd = "./BD_a_ignorer/"

In [16]:
import pandas as pd

In [24]:
df = pd.read_csv(chemin_bd + 'title.akas.tsv.gz', compression='gzip', sep='\t', nrows=1000)
# . dans l'adresse indique l'endroit o√π se trouve le fichier fichier_de_travail.ipynb
# c'est sur ce fichier que j'execute le code
df.head(3)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0